<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="NWKinetics.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <NWKinetics.My.MySettings>
            <setting name="AlwaysOT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowInTB" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowInNA" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="VancInfuse" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="VancPeakTime" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="VancTroughTime" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="VancCV" serializeAs="String">
                <value>0.7</value>
            </setting>
            <setting name="VancP1" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="VancP2" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="VancT1" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="VancT2" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="GentInfuse" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="GentPeakTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="GentTroughTime" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="GentCV" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="GentP1" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="GentP2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="GentT1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GentT2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TobInfuse" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="TobPeakTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TobTroughTime" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="TobCV" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="TobP1" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="TobP2" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="TobT1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TobT2" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="BGround" serializeAs="String">
                <value>DarkGray</value>
            </setting>
            <setting name="Text" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="Main" serializeAs="String">
                <value>Gainsboro</value>
            </setting>
            <setting name="Buttons" serializeAs="String">
                <value>SeaShell</value>
            </setting>
            <setting name="Answers" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="MyTheme" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ExtIntDose" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="Q241" serializeAs="String">
                <value>61</value>
            </setting>
            <setting name="Q242" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="Q361" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="Q362" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Q481" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="Q482" serializeAs="String">
                <value>39</value>
            </setting>
        </NWKinetics.My.MySettings>
    </userSettings>
</configuration>
